// @use "theme/themes-light.scss";
// @use "theme/themes-dark.scss";
// @use "theme/blue.scss";
// @use "theme/blue-dark.scss";

// @use "layers/flow-panel.scss";
// @use "layers/scroll-panel.scss";
// @use "layers/border-panel.scss";

// // components
// @use "components/TablePanel.scss";
// @use "components/VirtualScroll.scss";
// @use "components/AlertPanel.scss";
// @use "components/ContextMenu.scss";
// @use "components/DialogPanel.scss";
// @use "components/TextField.scss";
// @use "components/PopUpButton.scss";

// * {
//   box-sizing: border-box;
// }

// * {
//   box-sizing: border-box;

//   &:disabled {
//     cursor: not-allowed;
//     pointer-events: none;
//     opacity: 0.6;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// label,
// h3-element {
//   color: var(--primary-text-color);
// }


// .vbox {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: flex-start;
//   align-items: stretch;
//   align-content: stretch;
// }

// list-element {
//   padding: 0;
//   margin: 0;

//   ul {
//     margin: 0;
//     padding: 0;
//     width: auto;
//     overflow-y: auto;
//     max-height: 100%;
//   }

//   ul li {
//     padding: 0.5em;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   &[variant="secondary"] {
//     ul li:hover {
//       background-color: var(--primary-surface);
//       color: var(--primary-color-text);
//     }
//   }
// }

// .hbox {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   align-items: stretch;
//   align-content: stretch;
// }

// .pane-element {
//   display: grid;
//   padding: 12px;
//   margin: 0px;
//   user-select: none;
// }


// .pane {
//   user-select: none;
//   display: flex;
//   max-width: 100%;
//   margin: 0px;
//   overflow: hidden;
//   width: auto;
//   height: auto;
// }

// icon-element {
//   width: auto;
//   height: auto;
// }

// .tab-pane-tabs {
//   display: flex;
//   flex-direction: row;
//   overflow-x: auto;
// }

// .tab-title {
//   // background-color: #e4e9fd;
//   text-align: center;
//   padding: 15px;
//   margin: 0px;
//   cursor: pointer;
// }

// .tab-title-active {
//   padding-bottom: 12px;
//   color: var(--primary-select-color) !important;
//   border-bottom: 3px solid var(--primary-select-color);

//   * {
//     color: var(--primary-select-color) !important;
//   }
// }

// .tab-pane-content {
//   border-top: 1px solid var(--primary-text-color);
//   background-color: var(--primary-color);
//   display: relative;
// }

// .input-element {
//   background-color: #fff;
//   font-size: 18px;
//   font-family: "Muli", sans-serif;
//   padding: 15px;
//   height: 50px;
//   width: 100%;
//   transition: width 0.3s ease;
//   border: thin solid currentColor;
//   border-color: rgba(50, 71, 92, 0.12);
//   border-radius: 5px;
// }

// /* Container for flexboxes */
// .row {
//   display: -webkit-flex;
//   display: flex;
// }

// /* Create three equal columns that sits next to each other */
// .column {
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   padding: 10px;
//   height: 300px;
//   /* Should be removed. Only for demonstration */
// }

// @media (max-width: 600px) {
//   .row {
//     -webkit-flex-direction: column;
//     flex-direction: column;
//   }
// }

// #app {
//   height: 100vh;
//   width: 100vw;
//   padding: 0;
//   margin: 0;
//   display: flex;
// }

// border-dashed {
//   border-color: #cc2efa !important;
//   border-width: 1px !important;
//   border-style: dashed !important;
//   float: right !important;
//   clear: right !important;
//   margin-bottom: 10px !important;
//   box-sizing: border-box !important;
// }

// button {
//   background-color: var(--primary-color-button);
//   border: none;
//   color: var(--primary-color-text);
//   padding: 10px 22px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   cursor: pointer;
//   font-size: 16px;
//   border-radius: 5px;
//   margin: 5px 2px;
//   //[item-loading] {
//   //  display: none;
//   //}
// }

// button:not([loading]) {
//   [item-loading="true"] {
//     display: none;
//   }

//   [item-loading=""] {
//     display: none;
//   }
// }

// button[loading] {
//   [item-loading="false"] {
//     display: none;
//   }
// }

// button:hover {
//   background-color: var(--primary-color-button-hover);
//   /* Green */
// }

// .grid-element {
//   display: grid;
//   grid-template-columns: auto;
// }

// .scrolling-div {
//   margin: 20px;
//   width: 300px;
//   /* Largura da div */
//   height: 200px;
//   /* Altura da div */
//   overflow: auto;
//   /* Adiciona uma barra de rolagem quando o conteúdo ultrapassa as dimensões da div */
//   border: 1px solid #ccc;
//   /* Uma borda para a div (opcional) */
//   padding: 10px;
//   /* Espaçamento interno (opcional) */
// }

// /* Estilização da barra de rolagem (opcional) */
// .scrolling-div::-webkit-scrollbar {
//   width: 12px;
// }

// .scrolling-div::-webkit-scrollbar-thumb {
//   background-color: #888;
// }

// .scrolling-div::-webkit-scrollbar-track {
//   background-color: #f1f1f1;
// }


// .outline-border {
//   border: 2px solid var(--primary-text-color);
//   border-radius: 5px;
// }

// .outline-border:focus {
//   border: 2px solid var(--primary-select-color);
//   border-radius: 5px;
// }

// .underlined-border {
//   border: none;
//   border-bottom: 2px solid var(--primary-text-color);
// }

// .underlined-border:focus {
//   border: none;
//   border-bottom: 2px solid var(--primary-select-color);
// }

// .solo-border {
//   background-color: var(--primary-color);
//   box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
//   border-radius: 5px;
// }

// .solo-border:focus {
//   background-color: var(--primary-color);
// }

// check-box {
//   padding: 5px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;

//   label {
//     padding-left: 5px;
//     cursor: pointer;
//   }

//   .checkbox,
//   .radio {
//     width: 20px;
//     height: 20px;
//     accent-color: var(--primary-select-color);
//   }
// }

// toggle-button {
//   padding: 5px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: auto;
//   width: auto;
//   height: 35px;
//   min-width: 70px;

//   label {
//     background-color: var(--primary-text-color);
//     width: 100%;
//     height: 100%;
//     border-radius: 200px;
//     cursor: pointer;
//     position: relative;
//     transition: 0.3s;
//     display: flex;
//     align-items: center;
//   }

//   label::before {
//     content: "";
//     position: relative;
//     left: 3%;
//     width: 30%;
//     height: 80%;
//     border-radius: 200px;
//     background-color: var(--primary-color);
//     transition: 0.3s;
//   }

//   input {
//     display: none;
//   }

//   input:checked+label::before {
//     justify-content: end;
//     left: 67%;
//   }

//   input:checked~label {
//     background-color: var(--primary-select-color);
//   }
// }

// select-box {
//   position: relative;
//   display: flex;
//   width: 250px;
//   flex-direction: column;
// }

// input:focus~label,
// input:not(:placeholder-shown)~label {
//   top: -0.1rem;
//   left: 1rem;
//   font-size: 0.8rem;
//   color: var(--primary-text-color);
// }

// chart-element {
//   width: 100%;
//   height: 100%;
//   display: flex;

//   canvas {
//     min-height: 0;
//     min-width: 0;
//   }
// }

// dialog-element {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--primary-surface);

//   .content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 100;
//   }

//   .active {
//     opacity: 1;
//     top: 50%;
//     transform: translate(-50%, -50%) scale(1);
//     transition: all 0.3s ease-in-out;
//   }
// }

// divider-element {
//   width: 100%;
//   height: 1px;
//   background-color: var(--primary-text-color);
//   margin: 10px 0;
// }

// route-view {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

// [hidden] {
//   display: none !important;
// }

// menu-bar-element {
//   display: flex;
//   width: 100%;
//   align-items: center;
//   justify-content: space-around;

//   nav {
//     height: auto;
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     display: block;
//   }

//   label.logo {
//     color: white;
//     font-size: 2rem;
//     line-height: auto;
//     padding: 0 100px;
//     font-weight: bold;
//   }

//   nav ul {
//     float: right;
//     margin: auto;
//     height: 100%;
//     padding: 0;
//     display: flex;
//     align-items: center;
//   }

//   nav ul li {
//     text-align: center;
//     display: inline-block;
//     margin: 5px;
//   }

//   nav ul li a {
//     color: white;
//     font-size: 17px;
//     padding: 7px 13px;
//     border-radius: 3px;
//     text-transform: uppercase;
//   }

//   a.active,
//   a:hover {
//     background: #1b9bff;
//     transition: 0.5s;
//   }

//   .checkbtn {
//     font-size: 2rem;
//     color: white;
//     float: right;
//     line-height: auto;
//     margin-right: 40px;
//     cursor: pointer;
//     display: none;
//   }

//   #check {
//     display: none;
//   }

//   @media (max-width: 952px) {
//     label.logo {
//       font-size: 2rem;
//       padding-left: 50px;
//     }

//     nav ul li a {
//       font-size: 16px;
//     }
//   }

//   @media (max-width: 858px) {
//     .checkbtn {
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//     }

//     ul {
//       position: fixed;
//       width: 100%;
//       height: 100vh;
//       background: #2c3e50;
//       top: auto;
//       left: -100%;
//       text-align: center;
//       transition: all 0.5s;
//       margin-bottom: 0px;
//       flex-direction: column;
//     }

//     nav ul li {
//       display: block;
//       margin: 50px 0;
//       margin-bottom: 0px;
//       line-height: 20px;
//     }

//     nav ul li a {
//       font-size: 20px;
//     }

//     a:hover,
//     a.active {
//       background: none;
//       color: #0082e6;
//     }

//     #check:checked~ul {
//       left: 0;
//     }
//   }

//   section {
//     background: url(bg1.jpg) no-repeat;
//     background-size: cover;
//     height: calc(100vh - 80px);
//   }
// }

// .stack-pane {
//   position: relative;
// }

// .stack-pane>* {
//   position: absolute;
// }

// .avatar-element {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 60px;
//   height: 60px;

//   .avatar {
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     /* Makes the image circular */
//     object-fit: cover;
//     /* Ensures the image fits within the circle */
//     border: 2px solid #ccc;
//     /* Optional: Add a border */
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     /* Optional: Add a subtle shadow */
//   }
// }

// .lazy-load-text {
//   margin-left: 40px;
//   display: flex;
//   border-bottom: 1px solid #eaecef;
//   height: 200px;
//   padding: 1%;

//   .img-container {
//     width: 15%;
//     padding: 20px;

//     .img {
//       border: 1px solid white;
//       width: 100%;
//       height: 100%;
//       background-color: #babbbc;
//     }
//   }

//   .content {
//     border: 1px solid white;
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     padding: 20px;
//     justify-content: space-between;
//   }

//   .stripe {
//     border: 1px solid white;
//     height: 20%;
//     background-color: #babbbc;
//   }

//   .small-stripe {
//     width: 40%;
//   }

//   .medium-stripe {
//     width: 70%;
//   }

//   .long-stripe {
//     width: 100%;
//   }

//   @keyframes hintloading {
//     0% {
//       opacity: 0.5;
//     }

//     50% {
//       opacity: 1;
//     }

//     100% {
//       opacity: 0.5;
//     }
//   }

//   @-webkit-keyframes hintloading {
//     0% {
//       opacity: 0.5;
//     }

//     50% {
//       opacity: 1;
//     }

//     100% {
//       opacity: 0.5;
//     }
//   }
// }

// .lazy-load-text.loading .img,
// .lazy-load-text.loading .stripe {
//   animation: hintloading 2s ease-in-out 0s infinite reverse;
//   -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
// }